<%= provide(:title, @user.name )  %>
<div class="row">
	<div class="col-lg-4" >
		<section>
			<h1 style="text-align:left">
				<%= gravatar_for @user  %>
				<%= @user.name  %>
			</h1>
		</section>
		<section>
			<%= render "shared/stats"  %>
		</section>
	</div>
	<div class="col-lg-8">
		<section>
			<%= render "shared/follow_form" if logged_in?  %>
		</section>
		<section>
			<% if @feed_items.any? %>
				<h3>Entries (<%= @feed_items.count  %>)</h3>
				<ul class="list-entry">
					<%= render @feed_items  %>
				</ul>
				<%= will_paginate @feed_items  %>
			<% end %>
		</section>
	</div>
</div>


