<li id="entry-<%= entry.id%>">
	<%= link_to gravatar_for(entry.user), entry.user  %>
	<span class="user-infor"><%= link_to entry.user.name, entry.user  %></span>
	<span class="entry-title"><%= entry.title  %></span>
	<span class="entry-body"><%= entry.body  %></span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(entry.created_at)  %> ago
	</span>
</li>