<%= provide(:title,"Entry")  %>
<div class="row">
	<div class="col-lg-offset-2 col-lg-8">
		<div class="col-lg-12">
			<h1><%= @entry.title  %></h1>
		</div>
		<div class="col-lg-12">
			<p class="entry-body"><%= @entry.body  %></p>
		</div>
		<div class="col-lg-12">
			<span class="timestamp" style="float: right	">Created by <%= link_to @user.name, @user  %> at <%= time_ago_in_words(@entry.created_at)  %> ago</span>
		</div>
		<div class="col-lg-12" style="padding-top:50px; padding-bottom: 20px;">
			<label>Comments</label>
		</div>
		<% if logged_in? %>
		<div class="col-lg-12">
			<%= form_for(@comment) do |f|  %>
				<%= render "shared/error_messages", object: f.object  %>
				<%= f.hidden_field :entry_id, value: @entry.id %>
				<div class="col-lg-10" style="padding:0px;">
					<%= f.text_field :content, placeholder: "comments here...", class: "form-control" %>
				</div>
				<%= f.submit "Send", class: "btn btn-primary col-lg-2"  %>
			<% end %>
		</div>
		<% end %>
		<div class="col-lg-12">
			<% if @comments.any? %>
			<ul class="list-entry">
				<% @comments.each do |comment|  %>
				<li>
					<span class="entry-body"><%= comment.content  %> </span>
					<span class="timestamp" style="float:right">Posted by 
					<%= link_to comment.user.name, comment.user  %> <%= time_ago_in_words(comment.created_at)  %> ago </span>
				</li>
				<% end %>
			</ul>
			<% end %>
		</div>
	</div>
</div>
